NODE_ENV=development
# Local: APP_URL=http://localhost:3000
# Production: APP_URL=https://dxryl.xyz
DOMAIN=dxryl.xyz
APP_URL=http://localhost:3000
OWNER_EMAIL=daryl.bravo06@gmail.com
DASHBOARD_PASSWORD=

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_CHAT_COMPLETIONS_URL=
