NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
OWNER_EMAIL=daryl.bravo06@gmail.com

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_CHAT_COMPLETIONS_URL=https://gpt-4-ls.openai.azure.com/openai/deployments/gpt-5-nano/chat/completions?api-version=2025-01-01-preview
